#set ($companyName = "Legolas Industries")
<html>
	<head>
		<title>$companyName Homepage</title>
	</head>
	<body>
		<h1>Welcome!!</h1>
		$innerVar
		#parse("pageFooter3.vm")
		$innerVar
	</body>
</html>
